.diagram-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.diagram-info{
    margin-bottom: 6px;
    width: 100%;
}
.diagram-info__item{
    display: flex;
    align-items: center;
}
.diagram-info__item-text{
    display: flex;
    align-items: center;
    width: 100%;
}
.diagram-info__item-color {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    border-radius: 16px;
}

.diagram-info__item-value{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.diagram{
    width: 200px;
    display: flex;
    align-items: center;
}
